.sessao-dashboard .container {
    background-image: url(../images/bg-dash.avif);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.sessao-dashboard .container .sidebar {
    background-color: #3a3a3a;
    height: calc(100vh);
    position: sticky;
    top: 0;
    display: flex;
    transition: .3s;
}
.sessao-dashboard .container .sidebar .conteudo-sidebar{
    padding: 20px;
    flex:1;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
.sessao-dashboard .container .sidebar .img{
    width: 50px;
    height: 100px;
    background-image: url('../images/creeper-guide_creeper.png');
    background-position: left center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.sessao-dashboard .sidebar .conteudo-sidebar ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sessao-dashboard .sidebar .conteudo-sidebar .link{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 6px 24px;
    text-decoration: none;
    color: #000;
}
.sessao-dashboard .sidebar .conteudo-sidebar .link.logout{
    color: #FFF;
    border: 4px solid transparent;
}
.sessao-dashboard .sidebar .conteudo-sidebar .link.logout:hover{
    background: #cf3d3d;
    border-color: #ee4e4e #5a1919 #5a1919 #5a1919;
}
.sessao-dashboard .sidebar .conteudo-sidebar ul .link{
    color: black;
    background: #d9d9d9;
    border: 4px solid;
    border-color: #d9d9d9;
    border-color: #FFF #565656 #565656 #FFF;
}
.sessao-dashboard .sidebar .conteudo-sidebar ul .link:hover{
    background: #928f8f;
}
.sessao-dashboard .sidebar .conteudo-sidebar ul .link.ativo{
    color: #FFF;
    background: #008B45;
    border: 4px solid;
    border-color: #4CB45D #106C41 #106C41 #106C41;
    outline: 2px solid #000;
    text-shadow: #000 2px 2px;
}
.sessao-dashboard .sidebar .link span{
    font-size: 0.75em;
    display: none;
}

.sessao-dashboard .container .sidebar:hover .img{
    width: 222px;
    height: 90px;
    background-size: 222px;
    background-image: url('../images/logo.png');
    background-position: left center;
    transition: .3s width;
}
.sessao-dashboard .sidebar:hover .link span{
    display: flex;
    transition: 2s display;
}
.sessao-dashboard .container .conteudo{
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(0.5);
}
.sessao-dashboard .container .conteudo .topBar{
    position: sticky;
    top: 0;
    background-color: #d9d9d9;
    height: 72px;
    width: 100%;
    padding: 0 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sessao-dashboard .container .conteudo .topBar #info-usuario{
    display: flex;
    align-items: center;
    gap: 12px;
}
.sessao-dashboard .container .conteudo .topBar #info_usuario #rank_usuario{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #000;
    color: #FFF;
}
.sessao-dashboard .container .conteudo .topBar #info_usuario #rank_usuario.novato{
    background-color: #db9a21;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}
.sessao-dashboard .container .conteudo .topBar #info_usuario #rank_usuario.experiente{
    background-color: #b9db21;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}
.sessao-dashboard .container .conteudo .topBar #info_usuario #rank_usuario.mestre{
    background-color: #21db84;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}
.sessao-dashboard .container .conteudo .topBar .foto-perfil{
    position: relative;
    width: 42px;
    height: 42px;
}
.sessao-dashboard .container .conteudo .topBar .foto-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #d9d9d9;
    outline: 2px solid #106C41;
}
.sessao-dashboard .container .conteudo .topBar .foto-perfil .config{
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #d9d9d9;
    padding:  0 10px;
    display: none;
    align-items: center;
    opacity: 0;
}
.sessao-dashboard .container .conteudo .topBar .foto-perfil:hover .config{
    display: flex;
    opacity: 1;
}
.sessao-dashboard .container .conteudo .topBar .foto-perfil .config ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 8px;
}
.sessao-dashboard .container .conteudo .topBar .foto-perfil .config ul a{
    text-decoration: none;
    color: #000;
}
.sessao-dashboard .container .conteudo .topBar .foto-perfil .config ul a:hover{
    color: #FFF;
    background: #008B45;
    border: 4px solid;
    border-color: #4CB45D #106C41 #106C41 #106C41;
    outline: 2px solid #000;
}
.sessao-dashboard .container .conteudo .container-inicio{
    height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    padding: 24px 52px;
    box-sizing: border-box;
}