*{
    cursor: url('../images/cursor.cur'), auto;
}
.sessao-heroi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('../images/bg-home.jpg');
    background-size: cover;
    position: relative;
}
.sessao-heroi .video-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.sessao-heroi .container{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    padding: 0 0;
    z-index: 1;
    flex-wrap: wrap;
    overflow: hidden;
}
.sessao-heroi .lado{
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 240px;
}
.sessao-heroi .lado img{
    width: 60%;
}
.sessao-heroi .lado.texto{
    width: 100%;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 82px;
}
.sessao-heroi .lado.texto h2{
    text-shadow:
      3px 3px 0 #000,
      -3px 3px 0 #000,
      -3px -3px 0 #000,
      3px -3px 0 #000;
}
.sessao-heroi .lado.texto{
    color: #FFF;
    font-weight: 500;
}
.sessao-heroi .lado.texto a{
    font-family: 'Minecraft';
    color: #FFF;
    background: #008B45;
    border: 4px solid;
    border-color: #4CB45D #106C41 #106C41 #106C41;
    text-decoration: none;
    padding: 6px 24px;
}

.sessao-intro, .sessao-vantagens{
    background: transparent;
    position: relative;
    background-size: 100%;
    background-size: clamp(0px, 100vw, 1080px);
    background-repeat: repeat-x;
    justify-content: center;
    align-items: center;
}
.sessao-intro{
    background-image: url(../images/bg-sessao-intro.png);
}
.sessao-vantagens{
    background-image: url(../images/bg-vantagens.png);
}
.sessao-intro .bloco-baixo, .sessao-vantagens .bloco-baixo{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sessao-intro .video-bg, .sessao-vantagens .video-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sessao-intro .container{
    z-index: 1;
    padding: 42px 24px;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sessao-intro .container .logo-mine{
    width: 30%;
    min-width: 250px;
    margin-bottom: 32px;
}
.sessao-intro .container .conteudo{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sessao-intro .container .conteudo .seletores{
    display: flex;
    gap: 12px;
    margin-inline: 12px;
}
.sessao-intro .container .conteudo .seletor{
    display: flex;
    align-items: center;
    background-color: #8A8A8A;
    border: 4px solid;
    border-color: #FFF #565656 #565656 #FFF;
    border-radius: 4px;
    outline: 2px solid #000;
    padding: 8px;
}
.sessao-intro .container .conteudo .seletor img{
    width: 50px;
    user-select: none;
    pointer-events: none;
}
.sessao-intro .container .conteudo .seletor p{
    width: 0px;
    overflow: hidden;
    transition: .3s;
}
.sessao-intro .container .conteudo .seletor.ativo{
    background-color: #D9D9D9;
    border: 4px solid;
    border-color: #FFF #565656 transparent #FFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    box-shadow: 2px 0 #000, 0 -2px #000,-2px 0 #000;
    z-index: 1;
}
.sessao-intro .container .conteudo .seletor.ativo p{
    display: block;
    width: 100%;
    margin-left: 8px;
}
.sessao-intro .container .conteudo .main_seletores{
    position: relative;
    top: -6px;
    flex: 1;
    display: flex;
    background-color: #D9D9D9;
    border: 4px solid;
    border-color: #FFF #565656 #565656 #FFF;
    border-radius: 4px;
    outline: 2px solid #000;
}
.sessao-intro .container .conteudo .main_seletores .conteudo_seletor{
    flex: 1;
    display: none;
    padding: 8px;
    flex-direction: row;
    gap: 42px;
    flex-wrap: wrap;
}
.sessao-intro .container .conteudo .main_seletores .conteudo_seletor .texto{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sessao-intro .container .conteudo .main_seletores .conteudo_seletor .texto p{
    margin-bottom: 24px;
}
.sessao-intro .container .conteudo .main_seletores .conteudo_seletor .texto a{
    align-self: flex-end;
    color: #FFF;
    text-decoration: none;
    background: #008B45;
    border: 4px solid;
    border-color: #4CB45D #106C41 #106C41 #106C41;
    padding: 12px;
}
.sessao-intro .container .conteudo .main_seletores .conteudo_seletor .image{
    flex: 1;
    min-width: 250px;
}
.sessao-intro .container .conteudo .main_seletores .conteudo_seletor .image video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sessao-vantagens .container .conteudo{
    width: 100%;
    display: flex;
    background-color: #D9D9D9;
    border: 4px solid;
    border-color: #FFF #565656 #565656 #FFF;
    border-radius: 4px;
    outline: 2px solid #000;
    padding: 32px;
}
.sessao-vantagens .container .conteudo .cards{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sessao-vantagens .container .conteudo .cards .card{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #212121;
    border: 4px #545658 solid;
    outline: 2px solid #000;
}
.sessao-vantagens .container .conteudo .cards .card img{
    width: 62px;
    height: 66px;
    padding: 8px;
}
.sessao-vantagens .container .conteudo .cards .card .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.sessao-vantagens .container .conteudo .cards .card .texto h2{
    margin: 0;
    color: #F0F35C;
    font-weight: normal;
}
.sessao-vantagens .container .conteudo .cards .card .texto p{
    margin: 0;
    color: #FFF;
}
.sessao-vantagens .container .conteudo .image{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sessao-vantagens .container .conteudo .image .gif{
    margin-bottom: -92px;
    width: 50%;
    z-index: 1;
}
.sessao-vantagens .container .conteudo .image .imagem{
    width: 80%;
}


@media (max-width: 630px) {
    .sessao-heroi .lado.texto{
        text-align: center;
        align-self: flex-end;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



.pixel-border{
    clip-path: polygon(
        0px calc(100% - 4px),
        4px calc(100% - 4px),
        4px 100%,
        calc(100% - 4px) 100%,
        calc(100% - 4px) calc(100% - 4px),
        100% calc(100% - 4px),
        100% 4px,
        calc(100% - 4px) 4px,
        calc(100% - 4px) 0px,
        4px 0px,
        4px 4px,
        0px 4px
    );
}